<!-- Menu -->
<div class="menu">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<a 
					target="_self" 
					role="button" 
					id="comp-itb5kbcnlink" 
					class="b4link"
					style="margin-left: 20px;" 
					(click)="goTo('#home')"
				>
					<span 
						id="comp-itb5kbcnlabel" 
						class="b4label"
						style="font: normal normal normal 25px/1.4em 'playfair display',serif;" 
					>
						Le Dakota
					</span>
				</a>
			</div>
			<div class="col-md-8">
				<div class="row">
						<div class="col-md-2">							
						</div>

						<div class="col-md-8">
							<div class="row">
								<div class="col-md-3">
									<a 
										class="pull-left"
										(click)="goTo('#home')"
									>
										ACCUEIL
									</a>						
								</div>
								<div class="col-md-3">
									<a 
										class="text-center"
										(click)="goTo('#presentation')"
									>
										PRESENTATION
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#menu')"
									>
										MENU
									</a>
								</div>
								<div class="col-md-3">
									<a 
										class="pull-right"
										(click)="goTo('#contact')"
									>
										CONTACT
									</a>
								</div>									
							</div>
						</div>

						<div class="col-md-2">							
						</div>											
				</div>
			</div>
			<div class="col-md-2">
				<a 
					routerLink="/"				 
				>
					<img src="assets/images/logo/logo_fb.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_instagram.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo-o_o.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_etoil.png">
				</a>				
			</div>				
		</div>
	</div>
</div>
<!-- Fin menu -->

<div 
	id="content" 
>

	<div id="home">
		<app-home></app-home>
	</div>

	<div id="presentation">
		<app-presentation></app-presentation>
	</div>
	
	<div id="menu">
		<div 
			parallax 
			class="parallax-entrees" 
			[config]="{axis: X, speed: 1}"
		>
			<h4 class="font_4">
				Nos entrées
			</h4>
		</div>
		<app-menu></app-menu>

		<div 
			parallax 
			class="parallax-plats" 
			[config]="{axis: X, speed: 1}"
		>
			<h4 class="font_4">
				Nos plats
			</h4>
		</div>		
		<app-plat></app-plat>

		<div 
			parallax 
			class="parallax-desserts" 
			[config]="{axis: X, speed: -.2, initialValue: -8, cssUnit: '%'}"
		>
			<h4 class="font_4">
				Nos desserts
			</h4>
		</div>	
		<app-dessert></app-dessert>	

		<div 
			parallax 
			class="parallax-boissons" 
			[config]="{axis: X, speed: -.2, initialValue: -10, cssUnit: '%'}"
			>
			<h4 class="font_4">
				Nos boissons
			</h4>
		</div>
		<app-boisson></app-boisson>
	</div>

	<div id="contact">
		<app-contact></app-contact>
	</div>

</div>