/* Styles go here */
.menu {
    height: 60px;
    background: #fff;
    padding-top: 15px;
    z-index: 9999;
    width: 100%;
    position: fixed;
    border-bottom: 0.5px solid #dcd3d3;
}

.menu a {
    cursor: pointer;
    color: #000;
}

.menu a:hover {
    cursor: pointer;
    color: #A0A09F;
}

#content {
    /*padding-top: 60px; */
}

#home {
    padding-top: 60px;
}

#presentation {
    padding-top: 60px;
}

#menu {
    padding-top: 60px;
}


.parallax-entrees {
    background-image: url('nos_entrees_1.jpg');
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parallax-plats {
    background-image: url('nos_plats.jpg');
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parallax-desserts {
    background-image: url('nos_desserts.jpg');
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parallax-boissons {
    background-image: url('boisson.webp');
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact {
    padding-top: 60px;
}

/*Pour la section accueil*/
.txtNew {
    word-wrap: break-word;
    text-align: start;
    pointer-events: none;
}

.txtNew h3 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.color_32 {
    color: #FFC880;
}

.font_3 {
    font: normal normal normal 58px/1.4em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    color: #222222;
}
/*Fin pour la section accueil*/

.font_4 {
    font: normal normal normal 84px/1.4em 'playfair display',serif;
    color: #2F2E2E;
    color: #fff;
    text-align: center;
    padding-top: 80px;
}