/* Styles go here */
.menu {
    height: 60px;
    background: #fff;
    padding-top: 15px;
    z-index: 9999;
    width: 100%;
    position: fixed;
}

.menu a {
    cursor: pointer;
    color: #000;
}

.menu a:hover {
    cursor: pointer;
    color: #A0A09F;
}

#content {
    padding-top: 60px; 
}

#presentation {
    height: auto;
}


.parallax-entrees {
    background-image: url('entree.webp');
    height: 300px;
    background-size: cover;
}

.parallax-plats {
    background-image: url('plat.webp');
    height: 300px;
    background-size: cover;
}

.parallax-desserts {
    background-image: url('nos_desserts.jpg');
    height: 300px;
    background-size: cover;
}

.parallax-boissons {
    background-image: url('boisson.webp');
    height: 300px;
    background-size: cover;
}

/*Pour la section accueil*/
.txtNew {
    word-wrap: break-word;
    text-align: start;
    pointer-events: none;
}

.txtNew h3 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.color_32 {
    color: #FFC880;
}

.font_3 {
    font: normal normal normal 58px/1.4em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    color: #222222;
}
/*Fin pour la section accueil*/

.font_4 {
    font: normal normal normal 84px/1.4em 'playfair display',serif;
    color: #2F2E2E;
    color: #fff;
    text-align: center;
    padding-top: 60px;
}