<div 
    data-enable-video="true" 
    class="strc1balata strc1" 
    id="mediairacv4bo1balata" 
>
    <div class="bgColor strc2" id="mediairacv4bo1balatabgcolor">
        <div id="mediairacv4bo1balatabgcoloroverlay" class="bgColoroverlay" style="width: 100%; height: 100%; position: absolute;">

            <div 
                id="mediairacv4bo1inlineContent" 
                class="strc1inlineContent strc3" 
            >
                <div 
                    data-packed="true" 
                    class="txtNew" 
                    id="comp-ir26vyqc" 
                    style="left: 0px; width: 980px; position: absolute; top: 9px;">
                    <p class="font_9" style="line-height:1.8em; text-align:center;">
                        <span class="color_15">
                            24 avenue Marceau , 75008&nbsp;Paris&nbsp; &nbsp; |&nbsp; 01 75 88 99 00 |&nbsp; Ouvert de 11 h à 15 h et de 18h à 23h30&nbsp;
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-top: 5px; ">
            <div 
                data-packed="true" 
                class="txtNew" 
                id="comp-ikmo799g" 
                style="left: 65px; width: 850px; position: absolute; top: 230px;">
                <h3 class="font_3" style="line-height:0.9em; text-align:center;">
                    <span style="color:#FAFAFA;">
                        <span style="letter-spacing:-0.05em;">DaKoTa</span>
                    </span>
                </h3>
            </div>
            <div 
                data-packed="true" 
                class="txtNew" 
                id="comp-ikpj53mv" 
                style="left: 266px; width: 447px; position: absolute; top: 411px;"
            >
                <h5 class="font_5" style="line-height:1.6em; text-align:center;">
                    <span style="letter-spacing:0.1em;">
                        <span class="color_11">Restaurant</span>
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div>